body {
    margin: 60px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.range-slider {
    position: relative;
    height: 80px;
}
.custom-grid {
  position: relative;
}
.custom-grid .irs-grid {
  display: block;
}

.navbar {
   width: 100%;
   height: 70px;
   background-color: #0288D1;
}

.navbar h3 {
  color: aliceblue;
  text-align: center;
  width: 100%;
}

.fl-ol {
  margin-top: 30px;
  float: left;
  width: 10%;
  margin-left: 30%;

}

.bl-inf{
  width: 100%;
}
.range-slider{
  margin-top: 300px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.extra-controls {
 float: left;
  margin-top: 30px;
  width: 10%;
  margin-left: 4.6%;
}

.js-input{
  text-align: center;
}